<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.edu.apc.greenydroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".StartActivity"></activity>

        <activity android:name=".IntroductionActivity"></activity>
        <activity android:name=".ACupcakeStoryActivity"></activity>
        <activity android:name=".BCupcakeStoryActivity"></activity>
        <activity android:name=".CCupcakeStoryActivity"></activity>
        <activity android:name=".Introduction2Activity"></activity>
        <activity android:name=".ACupcakeQuestionActivity"></activity>
        <activity android:name=".BCupCakeQuestionActivity"></activity>
        <activity android:name=".CCupcakeQuestionActivity"></activity>
        <activity android:name=".CupcakeResultActivity"></activity>
        <activity android:name=".Introduction3Activity"></activity>
        <activity android:name=".InstructionActivity"></activity>
        <activity android:name=".CupcakeMiniGame"></activity>
        <activity android:name=".MiniGameContinueActivity"></activity>
        <activity android:name=".MiniGameOver"></activity>

        <activity android:name=".BetweenCandDActivity"></activity>

        <activity android:name=".DonutIntroductionActivity"></activity>
        <activity android:name=".ADonutStoryActivity"></activity>
        <activity android:name=".BDonutStoryActivity"></activity>
        <activity android:name=".CDonutStoryActivity"></activity>
        <activity android:name=".DonutIntroduction2Activity"></activity>
        <activity android:name=".ADonutQuestionActivity"></activity>
        <activity android:name=".BDonutQuestionActivity"></activity>
        <activity android:name=".CDonutQuestionActivity"></activity>
        <activity android:name=".DonutResultActivity"></activity>
        <activity android:name=".DonutIntroduction3Activity"></activity>
        <activity android:name=".DonutInstructionActivity"></activity>
        <activity android:name=".DonutMiniGame"></activity>
        <activity android:name=".DonutMiniGameContinue"></activity>
        <activity android:name=".DonutMiniGameOver"></activity>
    </application>

</manifest>