<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.edu.apc.greenydroid">

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".StartActivity"></activity>

        <activity android:name=".IntroductionActivity"></activity>
        <activity android:name=".AStoryActivity"></activity>
        <activity android:name=".BStoryActivity"></activity>
        <activity android:name=".CStoryActivity"></activity>
        <activity android:name=".Introduction2Activity"></activity>
        <activity android:name=".AQuestionActivity"></activity>
        <activity android:name=".BQuestionActivity"></activity>
        <activity android:name=".CQuestionActivity"></activity>
        <activity android:name=".CalculatingResultActivity"></activity>
        <activity android:name=".ResultRetryActivity"></activity>

        <activity android:name=".IntroToCupcakeActivity"></activity>
        <activity android:name=".ACupcakeQuestionActivity"></activity>
        <activity android:name=".BCupcakeQuestion"></activity>
        <activity android:name=".BCupcakeAnswers"></activity>
        <activity android:name=".CupcakeCalculatingActivity"></activity>
        <activity android:name=".CupcakeResultR"></activity>
        <activity android:name=".ACupcakeStoryActivity"></activity>

        <activity android:name=".ADonutQuestion"></activity>
        <activity android:name=".BDonutQuestion"></activity>
        <activity android:name=".DonutCalculating"></activity>
        <activity android:name=".DonutResultR"></activity>
        <activity android:name=".ADonutStory"></activity>

        <activity android:name=".AEclairQuestion"></activity>
        <activity android:name=".AEclairStory"></activity>
        <activity android:name=".BEclairQuestion"></activity>
        <activity android:name=".EclairResultR"></activity>

        <activity android:name=".InstructionActivity"></activity>
        <activity android:name=".MiniGameActivity"></activity>
        <activity android:name=".MiniGameContinueActivity"></activity>
        <activity android:name=".MiniGameOver"></activity>

        <activity android:name=".AFroyoQuestion"></activity>
        <activity android:name=".AFroyoChoices"></activity>
        <activity android:name=".BFroyoQuestion"></activity>
        <activity android:name=".FroyoCalculating"></activity>
        <activity android:name=".FroyoResultR"></activity>
        <activity android:name=".AFroyoStory"></activity>
        <activity android:name=".CFroyoQuestion"></activity>

        <activity android:name=".AGingerQuestion"></activity>
        <activity android:name=".GingerResultR"></activity>
        <activity android:name=".AGingerStory"></activity>
        <activity android:name=".BGingerQuestion"></activity>

        <activity android:name=".AHoneyQuestion"></activity>
        <activity android:name=".HoneyResultR"></activity>
        <activity android:name=".AHoneyStory"></activity>

        <activity android:name=".CupcakeInstructionsActivity"></activity>
        <activity android:name=".CupCakeMiniGameActivity"></activity>
        <activity android:name=".CupcakeMiniGameContinueActivity"></activity>
        <activity android:name=".CupcakeMiniGameOverActivity"></activity>

        <activity android:name=".AIceCreamStory"></activity>
        <activity android:name=".BIceCreamStory"></activity>
        <activity android:name=".AIceCreamQuestion"></activity>
        <activity android:name=".BIceCreamQuestion"></activity>
        <activity android:name=".IceCreamCalculating"></activity>
        <activity android:name=".IceCreamResultR"></activity>

        <activity android:name=".AJellyStory"></activity>
        <activity android:name=".AJellyQuestion"></activity>
        <activity android:name=".JellyResultR"></activity>
        <activity android:name=".BJellyStory"></activity>
        <activity android:name=".CJellyStory"></activity>

        <activity android:name=".AKitkatQuestion"></activity>
        <activity android:name=".KitkatResultR"></activity>
        <activity android:name=".AKitkatStory"></activity>
        <activity android:name=".BKitkatStory"></activity>

        <activity android:name=".LastInstructions"></activity>
        <activity android:name=".LastMiniGame"></activity>
        <activity android:name=".LastMiniGameCongrats"></activity>

    </application>

</manifest>